<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.heapstack.groupbowl" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />


    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <!--
      IMPORTANT: Change "com.parse.starter.permission.C2D_MESSAGE" in the lines below
      to match your app's package name + ".permission.C2D_MESSAGE".
    -->
    <permission android:protectionLevel="signature"
        android:name="com.heapstack.groupbowl.permission.C2D_MESSAGE" />
    <uses-permission android:name="com.heapstack.groupbowl.permission.C2D_MESSAGE" />


    <application
        android:name=".GroupBowlApplication"
        android:allowBackup="true"
        android:icon="@drawable/groupbowl_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.Groupbowl" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".SignUpActivity"
            android:label="@string/app_name"
            android:parentActivityName=".LoginActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".AddMemberActivity"
            android:label="@string/app_name"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.heapstack.groupbowl.MainActivity" />
        </activity>
        <activity
            android:name=".DetailMemberActivity"
            android:label="@string/app_name"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.heapstack.groupbowl.MainActivity" />
        </activity>
        <activity
            android:name=".DetailEventActivity"
            android:label="@string/app_name" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.heapstack.groupbowl.MainActivity" />
        </activity>
        <activity
            android:name=".DetailAnnouncementActivity"
            android:label="@string/app_name" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.heapstack.groupbowl.MainActivity" />
        </activity>
        <activity
            android:name=".SelectGroupActivity"
            android:label="@string/app_name"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.heapstack.groupbowl.MainActivity" />
        </activity>
        <activity
            android:name=".CreateAnnouncementActivity"
            android:label="@string/app_name"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.heapstack.groupbowl.MainActivity" />
        </activity>
        <activity
            android:name=".CreateEventOptionActivity"
            android:label="@string/app_name"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.heapstack.groupbowl.MainActivity" />
        </activity>
        <activity
            android:name=".CreateEventActivity"
            android:label="@string/app_name"
            android:parentActivityName=".CreateEventOptionActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.heapstack.groupbowl.CreateEventOptionActivity" />
        </activity>
        <activity
            android:name=".CreateEventPaymentActivity"
            android:label="@string/app_name"
            android:parentActivityName=".CreateEventOptionActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.heapstack.groupbowl.CreateEventOptionActivity" />
        </activity>
        <activity
            android:name=".SettingChangeNameActivity"
            android:label="@string/app_name"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.heapstack.groupbowl.MainActivity" />
        </activity>
        <activity
            android:name=".SettingChangePhoneActivity"
            android:label="@string/app_name"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.heapstack.groupbowl.MainActivity" />
        </activity>
        <activity
            android:name=".VenmoWebViewActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".EditMemeberActivity"
            android:label="@string/app_name"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.heapstack.groupbowl.MainActivity" />
        </activity>
        <activity
            android:name=".EditEventPaymentActivity"
            android:label="@string/app_name"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.heapstack.groupbowl.MainActivity" />
        </activity>
        <activity
            android:name=".EditEventActivity"
            android:label="@string/app_name"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.heapstack.groupbowl.MainActivity" />
        </activity>
        <activity
            android:name=".EditAnnouncementActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".EventAttendingListActivity"
            android:label="@string/app_name" >
        </activity>

        <service android:name="com.parse.PushService" />
        <receiver android:name="com.parse.ParseBroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.heapstack.groupbowl.Receiver"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.parse.push.intent.RECEIVE" />
                <action android:name="com.parse.push.intent.DELETE" />
                <action android:name="com.parse.push.intent.OPEN" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.parse.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <!--
                  IMPORTANT: Change "com.parse.starter" to match your app's package name.
                -->
                <category android:name="com.heapstack.groupbowl" />
            </intent-filter>
        </receiver>

    </application>




</manifest>
