<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.heapstack.groupbowl" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".GroupBowlApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".SignUpActivity"
            android:label="@string/title_activity_sign_up"
            android:parentActivityName=".LoginActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".AddMemberActivity"
            android:label="@string/title_activity_add_member"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.heapstack.groupbowl.MainActivity" />
        </activity>
        <activity
            android:name=".DetailMemberActivity"
            android:label="@string/title_activity_detail_member"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.heapstack.groupbowl.MainActivity" />
        </activity>
        <activity
            android:name=".DetailEventActivity"
            android:label="@string/title_activity_detail_event" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.heapstack.groupbowl.MainActivity" />
        </activity>
        <activity
            android:name=".DetailAnnouncementActivity"
            android:label="@string/title_activity_detail_announcement" >
        </activity>
        <activity
            android:name=".SelectGroupActivity"
            android:label="@string/title_activity_select_group"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.heapstack.groupbowl.MainActivity" />
        </activity>
        <activity
            android:name=".CreateAnnouncementActivity"
            android:label="@string/title_activity_create_announcement"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.heapstack.groupbowl.MainActivity" />
        </activity>
        <activity
            android:name=".CreateEventOptionActivity"
            android:label="@string/title_activity_create_event_option"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.heapstack.groupbowl.MainActivity" />
        </activity>
        <activity
            android:name=".CreateEventActivity"
            android:label="@string/title_activity_create_event"
            android:parentActivityName=".CreateEventOptionActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.heapstack.groupbowl.CreateEventOptionActivity" />
        </activity>
        <activity
            android:name=".CreateEventPaymentActivity"
            android:label="@string/title_activity_create_event_payment"
            android:parentActivityName=".CreateEventOptionActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.heapstack.groupbowl.CreateEventOptionActivity" />
        </activity>
        <activity
            android:name=".SettingChangeNameActivity"
            android:label="@string/title_activity_setting_change_name"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.heapstack.groupbowl.MainActivity" />
        </activity>
        <activity
            android:name=".SettingChangePhoneActivity"
            android:label="@string/title_activity_setting_change_phone"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.heapstack.groupbowl.MainActivity" />
        </activity>
        <activity
            android:name=".VenmoWebViewActivity"
            android:label="@string/title_activity_venmo_web_view"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".EditMemeberActivity"
            android:label="@string/title_activity_edit_memeber"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.heapstack.groupbowl.MainActivity" />
        </activity>
        <activity
            android:name=".EditEventPaymentActivity"
            android:label="@string/title_activity_edit_event_payment"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.heapstack.groupbowl.MainActivity" />
        </activity>
        <activity
            android:name=".EditEventActivity"
            android:label="@string/title_activity_edit_event"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.heapstack.groupbowl.MainActivity" />
        </activity>
        <activity
            android:name=".EditAnnouncementActivity"
            android:label="@string/title_activity_edit_announcement" >
        </activity>
    </application>

</manifest>
